body {
  color: white;
  background: #41cef4;
  text-align: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
  padding-top: 35px;
  padding-right: 5%;
  padding-bottom: 35px;
  padding-left: 5%; }
  body h1 {
    color: white;
    margin-top: 10px;
    margin-bottom: 15px; }
  body h2 {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px; }
  body h3 {
    color: white;
    margin-top: 10px;
    margin-bottom: 0px; }
  body h4 {
    color: white;
    margin-top: 10px;
    margin-bottom: 0px; }
  body p {
    color: white;
    text-align: justify;
    padding-right: 30px; }
  body ul {
    list-style-type: circle;
    text-align: justify;
    padding-right: 5%; }
  body a {
    text-decoration: underline; }
    body a:hover {
      color: white; }
  body img {
    border-radius: 50%; }
